* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 999px) {
  .form-sec{
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
  }
}

.container-contato {
  background-color: #fafafa;
  border-radius: 10px;
  justify-content: center;
  margin: 30px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 80%;

  max-width: 100%;
  overflow: hidden;
}

.header-form h2{
  background-color: #eee;
  padding: 20px;
  font-weight: 550;
}

.form {
  padding: 20px;

}

.form-controls {
  margin-bottom: 10px;
  position: relative;
}


.form-controls input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-controls i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-controls small {
  bottom: 0;
  padding: 15px;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: #12aa40;
  border: 2px solid #195a2d;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer
}

.form button:hover {
  background-color: #474747;
}

.form-controls.success input {
  border-color: #2ecc71;
}

.form-controls.error input {
  border-color: #e74c3c;
}

.form-controls.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-controls.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-controls.error small {
  visibility: visible;
  color: #e74c3c;
}